<div class="field-dateTime">
    <mat-form-field class="dateTime-form-field" *ngIf="!isDateTimeRange" appearance="fill">
        <mat-label>{{displayedName}}</mat-label>
        <input #dateInput matInput [matDatepicker]="picker" [formControl]="date" 
        [required]="required" [disabled]="readOnly" [value]="value" (dateChange)="changeDate()">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="dateTime-form-field" *ngIf="isDateTimeRange" appearance="fill">
        <mat-label>{{displayedName}}</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input #dateInput matStartDate formControlName="start" placeholder="Start date" 
                            [required]="required" [disabled]="readOnly" [value]="value">
          <input matEndDate formControlName="end" placeholder="End date"
                            [required]="required" [disabled]="readOnly" [value]="value">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        <!--       
        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error> -->
      </mat-form-field>
</div>
<!-- 
<mat-form-field  *ngIf="!isTypeArea" class="example-full-width" appearance="fill">
    <mat-label>{{displayedName}}</mat-label>
    <input #textInput [type]="typeName" matInput [required]="required" [disabled]="readOnly" [value]="value"
    (keyup)="changeText()" (paste)="changeText()" (cut)="changeText()" (input)="changeText()">
</mat-form-field>  -->