
<mat-card>
    <mat-card-content>
      <form  class="form-signin" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
        <h2>{{this._labelsService.labels.userRegistration_UserRegistrationTitle}}</h2>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="username"  id="UserName" minlength="4" maxlength="17" name="UserName" placeholder="{{this._labelsService.labels.userRegistration_UserName}}" required>
          <mat-error *ngIf="username.errors?.required">
            {{this._labelsService.labels.userRegistration_UserNameError}}
          </mat-error>
          <mat-error *ngIf="username.errors?.minlength">
            {{this._labelsService.labels.userRegistration_UserNameErrorLinght}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input placeholder="{{this._labelsService.labels.userRegistration_Email}}" matInput id="email" minlength="4" maxlength="17" type="email" name="email"formControlName="email" required>
          <mat-error *ngIf="email.errors?.required">
            {{this._labelsService.labels.userRegistration_EmailError}}
          </mat-error>
          <mat-error *ngIf="email.errors?.email">
            {{this._labelsService.labels.userRegistration_EmailError}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input placeholder="{{this._labelsService.labels.userRegistration_Password}}" matInput id="password" minlength="4" maxlength="17" name="password" [type]="hidePassword ? 'password' : 'text' " formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <mat-error *ngIf="password.errors?.required">
            {{this._labelsService.labels.userRegistration_PasswordError}}
          </mat-error>
          <mat-error *ngIf="password.errors?.minlength">
            {{this._labelsService.labels.userRegistration_PasswordLenght}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input placeholder="{{this._labelsService.labels.userRegistration_ConfirmPassword}}" matInput id="passwordConfirm" minlength="4" maxlength="17" name="passwordConfirm" [type]="hidepasswordConfirm ? 'password' : 'text' " formControlName="passwordConfirm" required>
            <button mat-icon-button matSuffix (click)="hidepasswordConfirm = !hidepasswordConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidepasswordConfirm">
                <mat-icon>{{hidepasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          <!-- <mat-error *ngIf="passwordConfirm.errors?.required">
            Please provide a valid confirm password
          </mat-error>
          <mat-error *ngIf="passwordConfirm.errors?.minlength">
            Confirm password must be at least 4 characters long.
          </mat-error> -->
          <mat-error *ngIf="passwordConfirm.errors?.mismatch">
            {{this._labelsService.labels.userRegistration_ConfirmPasswordError}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="register-user-select-role" appearance="fill">
          <mat-label>{{this._labelsService.labels.userRegistration_UserRole}}</mat-label>
          <mat-select name="userRole" formControlName="userRole"  required>
            <mat-option *ngFor="let role of userRoles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userRole.errors?.required">{{this._labelsService.labels.userRegistration_UserRoleError}}</mat-error>  
        </mat-form-field>
         <button mat-raised-button color="primary" [disabled]="!registerForm.valid">{{this._labelsService.labels.userRegistration_LableButton}}</button>
    
         </form>
    </mat-card-content>
  </mat-card>
