.text-field{
    margin: 4px;
}
/* .field-input-action{
    display: flex;
    margin-bottom: 1.34375em;
} */
.field-input-wrapper{
    display: flex;
}
.field-input-action{
    display: flex;
    align-items: center;
}

.field-input-action > mat-icon{
    cursor: pointer;
}
.field-input-action > mat-icon:hover{
    color: #797968;
}

.read-only-form-field .mat-form-field-wrapper .mat-form-field-flex {
    background: rgb(71 71 71 / 19%);
}
