.subsidenav-content-container {
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 4px;
}
.subsidenav-filterControl-container{
   display: flex;
}
.selected-item{
  font-weight: 800;
}
.subsidenav-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.filter-subsidenav-content-field{
  width: 100%;
}
.data-property{
  cursor: pointer;
}
.panel-property-row{
  padding: .5em;
}
.panel-property-row:hover{
  border-bottom: .5px solid rgb(102, 110, 110);
}

.subsidenav-list-properties{
  font-size: 1.1em;
}

.filter-subsidenav-content{
  position: sticky;
  z-index: 3;
  top: 0px;
}

/* .filter-search-wrapper{
  background: #e6e6e6;
}
 */
.subsidenav-filterControl-container{
  background: #ffffff87;
} 

