.order-main-container{
    display: flex;
    flex-direction: row;
    height: calc(100% - 64px);
}

.order-content{
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.order-command-button{
    margin: 1em;
    margin-left: 8px;
    margin-left: 0px;
    text-transform: uppercase;
}

.order-container-title{
    display: flex;
    padding: 1em 1em 0em 1em;
}

.order-card{
    height: 100%;
    width: 100%;
    padding-right: 0;
}

.order-save-button{
    margin-left: 10px;
}

.order-commands{
    width: 100%;
    margin-bottom: 1px;
    border-bottom: 1px solid black;
}

.order-container{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.order-container > .order-commands > .mat-card-actions{
    margin-left: 0px;
    margin-right: 0px;
}

.instance-order-card,
.parameters-order-card{
    box-shadow: 0px 0px 0px 0px;
    width: inherit;
 
}

.parameters-order-content-card{
    width: 100%;
    display: flex;
    height: auto;
}

.parameters-order-content-card form-editor{
    width: inherit;
}

.grid-order-card{
    display: flex;
    flex-direction: initial;
}

.order-grid-content{
    width: 100%;
}

.order-card.grid-order-card{
  width: 100%;
  flex-direction: column;
}

.order-products-table{
  width: 30%;
  font-size: 18px;
  margin-bottom: 15px;
}

/* ordder row  */
.order-row{
    display: flex;
    margin: 1em 0 1em 0;
    border-bottom: 2px solid #acacac;
}

.order-cell-caption{
    /* color: #8d8d8d; */
    font-weight: 550;
    font-size: 18px;
}

.order-cell-content{
    font-size: 18px;
    /* font-weight: 550; */
    margin-left: 10px;
    margin-right: 10px;
}

.order-action-bth{
    margin: 1em 0 1em 0;
    display: flex;
}

.grid-order-cart{
    display: flex;
    flex-direction: inherit;
    padding: 10px;
}
.order-cart-cancel-button{
    margin-right: 20px;
}

.grid-order-history{
    display: flex;
    flex-direction: inherit;
    padding: 10px;
}

.order-card.order-commands{
    height: auto;
}

.grid-order-report{
    padding: 10px;
}

.order-action-report-bth{
    margin: 0em 0 1em 0;
    display: flex;
    margin-left: 2px;
}
.selected-panel{
    background: #683fb5 !important;
}
@media (max-width: 740px){
    .order-content{
        overflow: auto;
    }
}