
<div class="order-main-container">
    <!-- <app-sidePanel [eventToggle]="sidenavToggle" [properties]="modelingIntems" [page]="'modeling'"></app-sidePanel>
    -->
    <div class="order-container">
        <mat-card class="order-card order-commands">
            <mat-card-actions>
                <button [class.selected-panel]="isOrderCart" class="order-command-button" mat-raised-button color="primary"
                    (click)="activePanel('orderCart')" style="margin-right: 12px;">{{this._labelsService.labels.orderComandButton_Cart}}</button>
                <button [class.selected-panel]="isGridOrderShow" class="order-command-button" mat-raised-button color="primary"
                    (click)="activePanel('orderHistory')">{{this._labelsService.labels.orderComandButton_OrderHistory}}</button>    
                <button [class.selected-panel]="isOrderReport" class="order-command-button" mat-raised-button color="primary"
                    (click)="activePanel('orderReport')">{{this._labelsService.labels.orderComandButton_OrderReport}}</button>                 
            </mat-card-actions>
        </mat-card>
    
        <div class="order-content">
          
            <mat-card class="order-card grid-order-history"  *ngIf="isGridOrderShow" style="box-shadow: none;">
                <!-- <mat-card-title>Order history</mat-card-title> -->
                <div class="order-grid-content">
                    <gridExpandRow-control [selectedProduct]="currentProductName" [gridData]="gridOrderData" 
                    [gridMetadataType]="gridMetadaType" [typeFilter]="'OptionalOfOrder'"></gridExpandRow-control>
                </div>
                <rightActionPanel *ngIf="gridOrderData" ></rightActionPanel>
            </mat-card>
            <mat-card class="order-card grid-order-cart"  *ngIf="isOrderCart" style="box-shadow: none;">
                <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="order-grid-content" *ngIf="gridOrderData; else elseBlock" >
                    <mat-card-title style="font-size: 1.7em;">{{this._labelsService.labels.orderTitleCart_InfoTitle}}</mat-card-title>
                    <div class="order-row">
                        <div class="order-cell">
                            <span class="order-cell-caption">{{this._labelsService.labels.orderTitleCart_NameCompany}}:</span>
                            <span class="order-cell-content">{{gridOrderData.nameCompany}}</span>
                        </div>   
                        <div class="order-cell">
                            <span class="order-cell-caption">{{this._labelsService.labels.orderTitleCart_TotaPrice}}:</span>
                            <span class="order-cell-content">{{gridOrderData.totalPrice}}</span>
                        </div> 
                        <div  class="order-cell">
                            <span class="order-cell-caption">{{this._labelsService.labels.orderTitleCart_OrderCurency}}:</span>
                            <span class="order-cell-content">{{gridOrderData.currency}}</span>
                        </div> 
                        <div  class="order-cell">
                            <span class="order-cell-caption">{{this._labelsService.labels.orderTitleCart_OrderCreatedByUser}}:</span>
                            <span class="order-cell-content">{{gridOrderData.orderCreatedByUser}}</span>
                        </div> 
                    </div>
                    <gridPlain-control [selectedProduct]="'orderProduct'" [gridData]="gridOrderData.products" 
                      [gridMetadataType]="'OrderProductGrid'" ></gridPlain-control>

                    <div class="order-action-bth">
                        <div class="order-cart-cancel-button">
                            <button  mat-raised-button color="warn" (click)="cancelCartOrder()">{{ this._labelsService.labels.orderLablesOfButton_CancelOrder}}</button> 
                        </div>
                        <div class="order-cart-save-button">
                            <button  mat-raised-button color="primary" (click)="saveOrder()" >{{this._labelsService.labels.orderLablesOfButton_SaveOrder}}</button> 
                        </div>
                    </div> 
                </div>
                <rightActionPanel *ngIf="gridOrderData" ></rightActionPanel>
            </mat-card>
            <mat-card class="order-card grid-order-report"  *ngIf="isOrderReport" style="box-shadow: none;">
                <mat-card-title style="padding-left: 0px;">Статистика заказов</mat-card-title> 
                <div class="order-report-content" style="margin-left: -4px;"> 
                    <form-editor class="container-report-porduct-fields"  [instanceName]="'ReportProduct'"></form-editor>
                    <div class="order-action-report-bth">
                        <div class="order-report-button">
                            <button  mat-raised-button color="primary" (click)="loadReport()">Показать статистику</button> 
                        </div>
                    </div> 
                </div>
                <div class="loading-shade" *ngIf="isLoadingResults">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                </div>
                <div class="order-grid-content" *ngIf="gridOrderReportData" >
                        <!-- <mat-card-title style="font-size: 1.4em;">Статистика заказов</mat-card-title> -->
                    <gridPlain-control [selectedProduct]="'OrderReport'" [gridData]="gridOrderReportData" 
                      [gridMetadataType]="'OrderReportGrid'" ></gridPlain-control>
                </div>
            </mat-card>

            
            <ng-template #elseBlock>
                <mat-card-title>{{ this._labelsService.labels.orderTitleCart_CartIsEmpty}}</mat-card-title>
            </ng-template>
            <!-- <mat-card class="order-card parameters-order-content-card"  *ngIf="isCompanyPage">
                <form-editor  [instanceName]="'companyContent'"></form-editor>
                <rightActionPanel></rightActionPanel>
            </mat-card> -->
           
        </div>  

    </div>
</div>