<div class="action-dialog">
    <h2 mat-dialog-title>{{titleDialog}}</h2>
    <div mat-dialog-content>
      <div [ngSwitch]="action">
        <div *ngSwitchCase="'Edit'">
            <form-editor [properties]="properties" [instanceName]="selectedType"></form-editor>
        </div>
        <div *ngSwitchCase="'Delete'">
             
        </div>
        <div *ngSwitchCase="'Order'">
          <form-editor [properties]="properties" [instanceName]="selectedType"></form-editor>
        </div>
        <div *ngSwitchCase="'AddToCart'">
          <form-editor [properties]="properties"  [instanceName]="selectedType"></form-editor>
        </div>
        <div *ngSwitchCase="'Default'">
             
        </div>
    </div>
        
    </div>
    <div mat-dialog-actions class="dialog-footer"> 
      <button mat-raised-button color="warn" (click)="onNoClick(false)">{{rejectButton}}</button> 
      <button mat-raised-button color="primary" 
      (keydown)="executeAction(true)"
      (window:keypress.enter)="executeAction(true)"
      (keyup.enter)="executeAction(true)"
      (click)="executeAction(true)">{{actionButton}}</button>
      <!-- <button mat-raised-button color="primary" *ngIf="isActionOrder"
      (click)="executeAction(true)">{{actionOrderButton}}</button> -->
    </div>
</div>
