<div class="login-container">
  <mat-card>
      <mat-card-content>
        <form  class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
          <h2>{{this._labelsService.labels.logIn_LogInTitle}}</h2>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="username"  id="username" minlength="4" maxlength="17" name="username" placeholder="{{this._labelsService.labels.logIn_UserName}}" required>
            <mat-error *ngIf="username.errors?.required">
             {{this._labelsService.labels.logIn_UserNameError}}
            </mat-error>
            <mat-error *ngIf="username.errors?.minlength">
              {{this._labelsService.labels.logIn_UserNameLenght}}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
              <input placeholder="{{this._labelsService.labels.logIn_Password}}" matInput id="password" minlength="4" maxlength="17" name="password" [type]="hide ? 'password' : 'text' " formControlName="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <mat-error *ngIf="password.errors?.required">
              {{this._labelsService.labels.logIn_PasswordError}}
            </mat-error>
            <mat-error *ngIf="password.errors?.minlength">
              {{this._labelsService.labels.logIn_UserNameErrorLenght}}
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid">{{this._labelsService.labels.logIn_LableButton}}</button>
        </form>
      </mat-card-content>
  </mat-card>
</div>
