<div class="dialog-modalObject">
        <h2 mat-dialog-title class="dialog-title">{{title}}</h2>
        <div mat-dialog-content *ngIf="messageText">
                <div *ngFor="let text of(messageText)" class="row-property">
                        <div class="dialog-modalObject-text"> 
                                <span class="dialog-modalObject-textName">{{text.name }} </span> 
                                <span class="dialog-modalObject-textValue">"{{text.value }}"</span> 
                                <span class="dialog-modalObject-textValue">{{text.additionalInfo }}</span> 
                                <span class="dialog-modalObject-textValue">{{text.pri }}</span> 
                        </div>
                </div>              
        </div>
        <div mat-dialog-actions class="dialog-footer"> 
        <button mat-raised-button color="warn" class="default-btn" (click)="execute('cancel')">{{cancelBtnCaption}}</button>  
        <button mat-raised-button color="primary" class="primary-btn" (click)="execute('primary')">{{primaryBtnCaption}}</button></div>   
</div>

