
table{
    width: 100%;
}

.mat-row:hover .mat-cell {
    border-color: rgb(0 0 0 / 54%);
    cursor: pointer;
}
.mat-row:hover {
    cursor: pointer;
}

.table-row-selected .mat-cell {
    font-weight: 600;
    border-color: rgb(0 0 0 / 54%);
}