<div class="field-selector">
    <mat-form-field appearance="fill" (click)="clickBySelect()">
 
        <mat-label>{{displayedName}}</mat-label>
        <mat-select #selectedOption (click)="clickBySelect()" (selectionChange)="optionSelected()" [required]="required" 
        [value]="value" [disabled]="readOnly">
        <div class="filter-search-wrapper">
            <input type="text" [formControl]="optionFilter" placeholder="Search"
                   matInput  #filterContent>
            <mat-icon>search</mat-icon>
        </div>
          <mat-option  *ngFor="let item of listOptions | async" [value]="item.value">
            {{item.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>