<div class="d-flex flex-row login-menu" *ngIf="isAuthenticated">
      <div class="login-menu-item menu-item" matRipple  [matMenuTriggerFor]="menu" 
        aria-label="" *ngIf="isAdministrator">
        <mat-icon>account_circle</mat-icon>
        <span>Account</span> 
      </div>
    
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]='["/register"]'>
          <mat-icon>app_registration</mat-icon>
          <span>Register</span>
        </button>
        <button mat-menu-item [routerLink]='["/login"]'>
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
      </mat-menu>

     <div class="login-menu-item menu-item" aria-label="logout"  (click)="onLogout()">
         <mat-icon>logout</mat-icon>
         <span>Logout</span> 
    </div>
</div>




